@import "../../stylesheet/mixin";

.board {
    margin: 0 auto;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-back-color);
    @include mq(tablet) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 29px;
        padding-bottom: 64px;
    }
}

.list {
    margin-bottom: 26px;
    @include mq(tablet) {
        margin-bottom: 49px;
    }
}

.listItem {
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-color: var(--job-item-small-color);
    max-width: 396px;
    padding-top: 45px;
    padding-bottom: 27px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    @include mq(tablet) {
        max-width: 1400px;
        padding-top: 24px;
        padding-bottom: 24px;
        background-color: var(--job-item-big-color);
    }
}

.thumb {
    width: 66px;
    height: 66px;
    margin-right: 19px;
    @include mq(tablet) {
        width: 85px;
        height: 85px;
        margin-right: 26px;
    }
}
.itemPic {
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.itemInfo {
    flex-grow: 2;
}

.itemTitile {
    color: var(--item-title-color);
    font-family: Proxima;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 5px;
    @include mq(tablet) {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.25;
        margin-bottom: 8px;
    }
}
.itemTitile:hover {
    color: var(--additional-text-color);
}

.itemName {
    font-size: 16px;
    line-height: 1.56;
    font-weight: 400;
    margin-bottom: 7px;
    color: var(--item-details-color);
    &_span {
        font-weight: 700;
    }
    @include mq(tablet) {
        margin-bottom: 8px;
    }
}

.itemLocation {
    color: var(--item-details-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.56;
    &>svg {
        margin-right: 8px;
        width: 18px;
        height: 18px;
    }
}

.itemInteraction {
    position: absolute;
    top: 13px;
    width: calc(100% - 32px);
    padding-left: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    & .rating_list {
        display: flex;
        & .stars {
            width: 13px;
            height: 13px;
            margin-right: 1px;
            color: var(--item-rating-small-color);
            cursor: pointer;
            @include mq(tablet) {
                width: 24px;
                height: 23px;
            }
        }
        @include mq(tablet) {
            margin-right: 32px;
        }
    }
    & .itemBack {
        display: flex;
        align-items: center;
        & .bookmark {
            margin-left: 5px;
            color: var(--item-bookmark-big-color);
            cursor: pointer;
        }
        @include mq(tablet) {
            flex-direction: column-reverse;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            min-width: 142px;
        }
    }
    @include mq(tablet) {
        position:static;
        max-width: 450px;
        justify-content: end;
        padding-left: 20px;
    }
}
.rating_item:hover .stars{
    color: var(--benefits-back-color)
}

.itemBack>div:hover .bookmark {
    color: var(--benefits-back-color)
}


// ===========Pagination=================
.pagination {
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 40px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Proxima';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 1.33333px;
    color: rgba(56, 65, 93, 0.602109);
    background-color: var(--pagination-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    
    @include mq(tablet-only) {
        width: 396px;
    }
    @include mq(mobile-only) {
        width: calc(100vw - 18px);
    }
    @include mq(tablet) {
        width: 515px;
        height: 52px;
        box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 10.4px;
        font-size: 21px;
        line-height: 1.2;
        padding-left: 23px;
        padding-right: 23px;
    }
    
    &_item {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
        margin-right: 3px;
        flex-grow: 0;
        cursor: pointer;
        @include mq(tablet) {
            width: 31px;
            height: 31px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
    &_activeItem {
        position: relative;
        color: var(--additional-text-color);
        @include mq(tablet) {
            color: var(--pagination-big-activ-color);
        }
    }
    &_activeItem::after {
        content: "";
        width: 24px;
        height: 2px;
        background-color: var(--additional-text-color);
        position: absolute;
        bottom: -8px;
        left: 0;
        z-index: 100;
        @include mq(tablet) {
            bottom: -11px;
        }
    }
    & .previousLi{
        width: 34px;
        height: 24px;
        border-right: solid 1px #D8D8D8;
        margin-right: auto;
        // flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include mq(tablet-only) {
        // flex-grow: 2;
    }
        @include mq(tablet) {
            width: 45px;
        }
    }
    & .nextLi {
        width: 34px;
        height: 24px;
        border-left: solid 1px #D8D8D8;
        margin-left: auto;
        // flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include mq(tablet) {
            width: 45px;
        }
    }
    & .previousLabel {
        cursor: pointer;
        display: none;
        &>svg {
            width: 14px;
            height: 14px;
            @include mq(tablet) {
                width: 18px;
                height: 18px;
            }
        }
        @include mq(tablet) {
            display:contents;
        }
    }
    & .nextLabel {
        cursor: pointer;
        display: none;
        &>svg {
            width: 14px;
            height: 14px;
            @include mq(tablet) {
                width: 18px;
                height: 18px;
            }
        }
        @include mq(tablet) {
            display:contents;
            
        }
    }
}